
        <div class="footer-container">
            <footer class="wrapper">
                <h3 style="margin-bottom: 32px;">{{ site.title }}</h3>
                <nav>
                    <ul>
                        <!-- <li class="nested-header"><h2><a href="#">project</a></h2> -->
                        <li class="nested-header"><h2>The project</h2>
                            <ul>
                                <li><a href="https://www.youtube.com/channel/UCnI56C3TyCVT76ako1zCnog">Channel on YouTube.com</a></li>
                                <!-- <li><a href="/biz/marketing/website/feed.xml">RSS feed of this site</a></li>
                                <li><a href="/impressum.html">Impressum (de)</a></li> //-->
                                <li style="width: 200px;">&nbsp;</li>
                            </ul>
                        </li>
                        <!-- <li class="nested-header app"><h2><a href="#">app</a></h2> -->
                        <li class="nested-header app"><h2>app</h2>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=oYaXrOCpGLA">making-of</a></li>
                                <li style="width: 200px;">&nbsp;</li>
                            </ul>
                        </li>
<!--
                        <li class="nested-header app"><h2><a href="#">data categories</a></h2>
                            <ul>
                                <li><a href="/rpa/archive/category/linq">LINQ</a></li>
                                <li><a href="/rpa/archive/category/regex">RegEx</a></li>
                            </ul>
                        </li>
                        <li class="nested-header biz"><h2><a href="{{ "/biz/" | prepend: site.baseurl | prepend: site.url }}">biz</a></h2>
//-->
                        <li class="nested-header biz"><h2>biz</h2>
                            <ul>
                                <li><a href="https://gitlab.com/rpapub/thelastweekin/-/issues">Report an Issue</a></li>
                                <li style="width: 200px;">&nbsp;</li>
                            </ul>
                        </li>
<!--
                        <li class="nested-header tec"><h2><a href="{{ "/tec/" | prepend: site.baseurl | prepend: site.url }}">tec</a></h2>
                            <ul>
                                <li><a href="/tec/phy/building-blocks">building blocks</a></li>
                            </ul>
                            <ul>
                                <li><a href="/tec/log/audio/2022/01/01/automated-analysis-youtube-channel.html">Sound Good in Webinars</a></li>
                            </ul>
                            <ul>
                                <li><a href="/tec/log/audio/checklists">Audio Checklists</a></li>
                            </ul>
                            <ul>
                                <li><a href="/biz/production/video/streaming/checklists">Streaming Preshow</a></li>
                            </ul>
                        </li>
-->
                
                    </ul>
                </nav>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/front/try/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>