  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if title %}{{ site.title }} - {{ title | escape }}{% elsif page.title %}{{ site.title }} - {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ "/biz/marketing/website/assets/css/bootstrap.css" | prepend: site.baseurl }}">
        <!-- link rel="stylesheet" href="{{ "/biz/marketing/website/assets/css/style.css" | prepend: site.baseurl }}" //-->
        <!-- link rel="stylesheet" href="{{ "/biz/marketing/website/assets/css/normalize.css" | prepend: site.baseurl }}" outdated https://github.com/necolas/normalize.css //-->
        <link rel="stylesheet" href="{{ "/biz/marketing/website/assets/css/main.css" | prepend: site.baseurl }}">
        <!-- link rel="stylesheet" href="{{ "/biz/marketing/website/assets/css/cprima.net.css" | prepend: site.baseurl }}" //-->

        <link rel="stylesheet" href="{{ "/biz/marketing/website/assets/DataTable/datatables.css" | prepend: site.baseurl }}">

        <!--link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"-->
        <!--link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/biz/marketing/website/feed.xml" | prepend: site.baseurl | prepend: site.url }}"-->
{% if jekyll.environment == "production" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
{% endif %}
<style>
html, body {
  height: 100%;
}

img.thumbnail {
  height: auto;
  width: 90%;
}

ul {
    list-style: none;
}
li {
  margin: .5em 0;
}

.alignright { float: right; }
.alignleft { float: left; }
.clearfix { clear:both }

</style>
  </head>