<ul>
{% for entry in include.entries  %}
{% assign year =  entry.published_at | date: "%Y" %}
{% if year == "2019" or year == "2020" or year == "2021" or year == "2022" or year == "2023" or year == "" %}
  <li>
      <div style="display: inline-block; float: left; width: 20%;"><img class="thumbnail" src="{{ entry.thumbnail_src}}" /></div>
      <div style="display: inline-block; width: 80%;">
        <b><a href="{{ entry.url}}">{{ entry.title }}</a></b><br />
        {% if entry.type_name == "video" %}
        
        {% endif %}
        {% if entry.org_name %}
        By: <a href="{{ entry.org_url }}">{{ entry.org_name}}</a><br />
        {% endif %}
        <span style="font-size: small;">Published at: {{ entry.published_at | date: '%Y-%m-%d' }} Tagged: {{ entry.tags }}</span>
      </div>
  <div class="clearfix"></div><hr class="listing"/></li>
{% endif %}
{% endfor %}
</ul>