---
layout: default
---
{% assign entries = site.data.rpa.tagged[page.datafile] %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} </h1>
  </header>

  <div class="post-content">
    {% include listing.html entries=entries %}
  </div>

</article>