<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

    {% include header.html %}

    <div class="main-container">
      <div class="main wrapper clearfix">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/biz/marketing/website/assets/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/biz/marketing/website/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/biz/marketing/website/assets/js/vendor/modernizr-3.12.0.min.js" | prepend: site.baseurl }}"></script>


    <script src="{{ "/biz/marketing/website/assets/DataTable/datatables.js" | prepend: site.baseurl }}"></script>
    <script>
      $(document).ready( function () {
        $('#tag_frequency_2022_Q4').DataTable( {
          paging: false,
          searching: false,
          ordering: false
        });
      } );
    </script>

  </body>

</html>