<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

    <div class="main-container">
      <div class="main wrapper clearfix">
        {{ content }}
      </div>
    </div>


  </body>

</html>