 <html>
 <head>
     <meta charset="utf-8"/>
     <meta http-equiv="refresh" content="1;url={{ page.redirect }}"/>
     <link rel="canonical" href="{{ page.redirect }}"/>
     <script type="text/javascript">
             window.location.href = "{{ page.redirect }}"
     </script>
     <title>{{ site.title }}/title>
 </head>
 <body>
 If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link</a>.
 </body>
 </html>