---
layout: default
---


{% for category in page.categories %}
   {% assign datafile = page.realm | append: '-' | append: category  %}
   {% assign lastcategory = category  %}
{% endfor %}
{% if page.realm == 'rpa' %}
{% assign entries = site.data.rpa.tagged[datafile] %}
{% endif %}
{% if page.realm == 'lowcode' %}
{% assign entries = site.data.lowcode.tagged[datafile] %}
{% endif %}

{% for tag in site.data.tags %}
{% if tag.slug == lastcategory %}
   {% assign heading = tag.name  %}
{% endif %}
{% endfor %}

{% if entries.size > 0 %}
{% assign entries_sorted = entries | sort: "published_at" %}
{% assign entries_sorted = entries %}
{% endif %}

<article class="post">

  <header class="post-header">
    <h2 class="post-title">{{ heading | capitalize }}</h2>
    <p>{{ entries_sorted.size }} entries</p>
  </header>

  <div class="post-content">
    <hr />
    {% include listing.html entries=entries_sorted %}
  </div>

</article>