---
layout: default
---
{% assign yearweek = page.date | date: "%Y-%V" %}
{% assign datafile = page.realm | append: '-isoweek-' | append: yearweek  %}
{% if page.realm == 'rpa' %}
{% assign entries = site.data.rpa.isoweek[datafile] %}
{% endif %}
{% if page.realm == 'lowcode' %}
{% assign entries = site.data.lowcode.isoweek[datafile] %}
{% endif %}


<article class="post">

  <header class="post-header">
    <h2 class="post-title">From {{ page.from  | date: "%F" }} thru {{ page.thru  | date: "%F" }}</h2>
  </header>

{% assign thesize = page.content.size %}
{% if thesize.size > 3 %}
{{ page.content }}
{% endif %}
  <hr />

  <div class="post-content">
{% if entries.size > 0 %}
{% assign entries_sorted = entries | sort: "published_at" %}
{% assign entries_sorted = entries %}
{% endif %}
    {% include listing.html entries=entries_sorted %}
  </div>

</article>